.header_white .sf-menu > li > a:hover, .header_white .sf-menu > li.active > a {
    color: #00a651 !important;
}
.sf-menu ul a:hover,
.sf-menu ul li.active > a {
    color: #00a651 !important;
}

.page_breadcrumbs h2 {
    text-transform: capitalize !important;
}
.section_header {
    text-transform: capitalize !important;
}
.ls a {
    color: #000000 !important;
}
.ls .highlight {
    color: #00a651 !important;
}
.parallax.cs.gradient2:after {
    background: none !important;
}
.header_left_logo .logo img {
    max-width: 250px !important;
}

.range_slides_carousel_wrapper {
    background-color: white !important;
}

.range_slides_item_image img {
    width: 200px !important;
}
.vertical-item.content-padding .item-content {
    padding: 10px !important;
}
.entry-content p {
    text-align: left !important;
}
.vertical-item.content-padding footer {
    padding: 5px 35px !important;
}
.entry-meta a {
    padding: 5px !important;
}
.range_slides_carousel_wrapper {
    padding: 10px !important;
}
.fw_al_001_slide p {
    color: white !important;
    font-size: 40px;

}
.worldbgimage {
    width:100%;
    height:300px;
    background: url('/wp-content/uploads/2020/07/harita-guncel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.worldbgimage h5 {
    color:white;
    text-shadow:2px 2px #333;
}
.teaser_icon img {
    height: 165px !important;
}
.parallax {
    background-attachment: unset;
}
.sf-menu ul a {
    text-transform: capitalize !important;
}
.fw_al_001_slide a {
    color: white !important;
}
.header_white {
    height: 120px !important;
}
@media (max-width: 767px){
    .page_footer > .container {
        padding-top: 0px !important;
    }
    .header_left_logo .logo img {
        max-width: 230px !important;
    }
    .header_white {
        height:83px !important;
    }
    #fw_al_001 > .carousel-inner > .item > img, #fw_al_001 > .carousel-inner > .item > a > img {
        height: 200px !important;
    }
    .fw_al_001_slide > p {
        margin-top: 80px !important;
    }
    .mobile-none {
        display:none !important;
    }
    .worldbgimage {
        height: 150px !important;
    }
    .worldbgimage h4 {
        margin-top: 30px !important;
        font-size: 22px !important;
    }
    #fw_al_001 > .carousel-inner > .item > img, #fw_al_001 > .carousel-inner > .item > a > img {
        opacity: 1 !important;
    }

}
.desk-hidden {
    display: none;
}
